<!-- The total likes on all of that blogger's posts
A link to that blogger's featured post (the post with the most likes)
BONUS A list of that user's top 5 most written about destinations 
(the destinations with the most posts) -->

<h1>Blogger <%=@blogger.name%></h1>

<h2>Total Likes Across All Posts</h2>
<p><%=@blogger.total_likes%></p>
<h2>Featured Post(Most Likes)</h2>
<p><%=@blogger.most_liked_post%></p>



<h2>Top 5 Destinations</h2>
<!-- <p>destinations</p> -->