<h1><%= @post.title %></h1>

<p>Author: <%= link_to @post.blogger.name, blogger_path(@post.blogger.id) %></p>
<p><%= @post.content.to_s %></p>
<p>Destination: <%= link_to @post.destination.name, destination_path(@post.destination.id)%></p>

 